.btn {
  background-color: var(--color-background-inverted);
  color: var(--color-text-default);
  align-items: center;
  border-radius: 1.188rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  user-select: none;
  white-space: nowrap;
  align-self: center;
}

/*
  Button sizes
*/

.btn--medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1rem 2.625rem;
}

.btn--small {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
}
