.btn {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  user-select: none;
  white-space: nowrap;
  align-self: center;
  box-shadow: 0 5px 5px 0px rgba(34,34,34,0.1);

}

/* Button variants */

.btn--primary {
  background-color: var(--color-background-secondary);
  color: var(--color-text-default);
}

.btn--secondary {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-inverted);
}

/*
  Button sizes
*/

.btn--medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
}

.btn--small {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.3rem 1.3rem;
  border-radius:0.7rem;
}

@media (min-width: 502px) {
  .btn--small {
    padding: 0.5rem 2.625rem;
    border-radius:0.938rem;
  }

  .btn--medium {
    font-size: 1.25rem;
    padding: 1rem 2.625rem;
    border-radius: 1.188rem;
  }
}