@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Text */
  --color-text-default: #222222;
  --color-text-secondary: #A8E3EB;
  --color-text-tertiary: #c25849;
  --color-text-strong: #5AB2BE;
  --color-text-inverted: #ffffff;

  /* Heading */
  --color-heading-default: #222222;
  --color-heading-secondary: #A8E3EB;
  --color-heading-tertiary: #5AB2BE;
  --color-heading-strong: #CB4A4A;

  /* Background */
  --color-background-default: #ffffff;
  --color-background-secondary: #A8E3EB;
  --color-background-tertiary: #5AB2BE;
}

body {
  background: var(--color-background-default);
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--color-text-default);
  text-decoration: none;
}

.artist-website-link {
  font-family: "Inter Tight", sans-serif;
  font-style: italic;
}

@media (min-width: 1280px) {
  a:hover {
    color: #CB4A4A;
  }
}

h1, h2, h3, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

p, h4 {
  font-family: "Inter", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}

button:hover {
  border-color: #646cff;
}

li {
  color: var(--color-text-default);

}

body.no-scroll {
  overflow: hidden;
}

.word-transition {
  transition: all 1s ease-in-out;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color:  #CB4A4A;
  }
  button {
    background-color:  #CB4A4A;
  }
}


