.section {
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem 1.7rem 0.75rem;
  gap: 1.5rem;
  position: relative;
}

.card--column {
  flex-direction: column;
}

.card--column-reverse {
  flex-direction: column-reverse;
}

.cardSection {
  display: flex;
  flex-direction: column;
}

.featured-heading {
  display: none;
}

@media (min-width: 769px) {
  .featured-heading {
    position: absolute;
    display: block;
  }
}

@media (min-width: 767px) and (max-width: 1280px) {
  .section {
    min-height: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 100px 0;
  }

  .card {
    display: grid;
    max-width: 90%;
    height: 60%;
    padding: 0;
    gap: 4rem;
  }

  .card--grid-default {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card--grid-leftLarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card--grid-rightLarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

}


@media (min-width: 1280px) {
  .section {
    min-height: 785px;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 70%;
    height: 60%;
    padding: 0;
    gap: 4rem;
  }

  .card--grid-default {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card--grid-leftLarge {
    grid-template-columns: 2fr 1fr;
  }

  .card--grid-rightLarge {
    grid-template-columns: 1fr 2fr;
  }
}
