.typography-heading {
  color: var(--color-text-default);
  font-style: normal;
}

/*
  Text variants
*/

h1.typography-heading {
  font-size: 14vw; 
  line-height: 15vw;
  letter-spacing: .1rem;
}

h2.typography-heading {
  font-size: 1.75rem; /* 28px */
  line-height: 1.875rem; /* 30px */
}

h3.typography-heading {
  font-size: 1.5rem; /* 24px */
  line-height: 1.8125rem; /* 29px */
}

h4.typography-heading {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5rem; /* 24px */
}

h5.typography-heading {
  font-size: 1.1rem; /* 18px */
  line-height: 1.3rem; /* 21px */
}

h6.typography-heading {
  font-size: 1rem; /* 16px */
  line-height: 1.3rem; /* 21px */
}


@media (min-width: 502px) and (max-width: 1280px) {
  h1.typography-heading {
    font-size: 4rem; 
    line-height: 4.2rem;
  }
}

@media (min-width: 1280px) {
  /*
    Text variants
  */

  h1.typography-heading {
    font-size: 4.5rem; 
    line-height: 5.125rem;
  }
}

@media (min-width: 1535px) {
  /*
    Text variants
  */

  h1.typography-heading {
    font-size: 6rem; 
    line-height: 6.625rem;
  }
}

/*
  Text color
*/

.typography-heading--default {
  color: var(--color-heading-default);
}

.typography-heading--secondary {
  color: var(--color-heading-secondary);
}

.typography-heading--tertiary {
  color: var(--color-heading-tertiary);
}

.typography-heading--strong {
  color: var(--color-heading-strong);
}

.typography-heading--responsive {
  color: var(--color-heading-secondary);
}

@media (min-width: 1280px) {

  .typography-heading--responsive {
    color: var(--color-heading-tertiary);
  }
}

/*  Font Weights */
.typography-heading--light {
  font-weight: 200;
}

.typography-heading--regular {
  font-weight: 400;
}

.typography-heading--medium {
  font-weight: 500;
}

.typography-heading--bold {
  font-weight: 700;
}
