.typography-heading {
  color: var(--color-text-default);
  font-style: normal;
  margin-bottom: 0.7rem;
}

/*
  Text variants
*/

h1.typography-heading {
  font-size: 4rem; 
  line-height: 4.2rem;
}

h2.typography-heading {
  font-size: 1.75rem; /* 28px */
  line-height: 1.875rem; /* 30px */
}

h3.typography-heading {
  font-size: 1.5rem; /* 24px */
  line-height: 1.8125rem; /* 29px */
}

h4.typography-heading {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5rem; /* 24px */
}

h5.typography-heading {
  font-size: 1.1rem; /* 18px */
  line-height: 1.3rem; /* 21px */
}

h6.typography-heading {
  font-size: 1rem; /* 16px */
  line-height: 1.3rem; /* 21px */
}

/*
  Text color
*/

.typography-heading--default {
  color: var(--color-heading-default);
}

.typography-heading--secondary {
  color: var(--color-heading-secondary);
}

.typography-heading--tertiary {
  color: var(--color-heading-tertiary);
}

/*  Font Weights */
.typography-heading--light {
  font-weight: 200;
}

.typography-heading--regular {
  font-weight: 400;
}

.typography-heading--medium {
  font-weight: 500;
}

.typography-heading--bold {
  font-weight: 700;
}
